@font-face {
	font-family: 'Bravo RG';
	src: url('fonts/BravoRG Regular.eot');
	src: local('☺'), url('../fonts/BravoRG Regular.woff') format('woff'), url('fonts/BravoRG Regular.ttf') format('truetype'), url('fonts/BravoRG Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Ceremonious One';
	src: url('fonts/ceremonious_one.eot');
	src: local('☺'), url('../fonts/ceremonious_one.woff') format('woff'), url('fonts/ceremonious_one.ttf') format('truetype'), url('fonts/ceremonious_one.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'HarbellPersonalUseOnly';
	src: url('fonts/Harbell_Personal_Use.eot');
	src: local('☺'), url('../fonts/Harbell_Personal_Use.woff') format('woff'), url('fonts/Harbell_Personal_Use.ttf') format('truetype'), url('fonts/Harbell_Personal_Use.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Idealist Sans';
	src: url('fonts/Idealist Sans Regular.eot');
	src: local('☺'), url('../fonts/Idealist Sans Regular.woff') format('woff'), url('fonts/Idealist Sans Regular.ttf') format('truetype'), url('fonts/Idealist Sans Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'PF Din Text Cond Pro';
	src: url('fonts/pfdintextcondpro-medium.eot');
	src: local('☺'), url('../fonts/pfdintextcondpro-medium.woff') format('woff'), url('fonts/pfdintextcondpro-medium.ttf') format('truetype'), url('fonts/pfdintextcondpro-medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
font-face {
	font-family: 'PF Din Text Cond Pro';
	src: url('fonts/pfdintextcondpro-regular.eot');
	src: local('☺'), url('../fonts/pfdintextcondpro-regular.woff') format('woff'), url('fonts/pfdintextcondpro-regular.ttf') format('truetype'), url('fonts/pfdintextcondpro-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'PT Sans';
	src: url('fonts/PTS55F.eot');
	src: local('☺'), url('../fonts/PTS55F.woff') format('woff'), url('fonts/PTS55F.ttf') format('truetype'), url('fonts/PTS55F.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'PTSans';
	src: url('fonts/PTS56F.eot');
	src: local('☺'), url('../fonts/PTS56F.woff') format('woff'), url('fonts/PTS56F.ttf') format('truetype'), url('fonts/PTS56F.svg') format('svg');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'PTSans';
	src: url('fonts/PTS75F.eot');
	src: local('☺'), url('../fonts/PTS75F.woff') format('woff'), url('fonts/PTS75F.ttf') format('truetype'), url('fonts/PTS75F.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'ALSRubl';
	src: url('fonts/rouble.eot');
	src: local('☺'), url('../fonts/rouble.woff') format('woff'), url('fonts/rouble.ttf') format('truetype'), url('fonts/rouble.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
